.header__lang-link {
  color: #ffffff;
  font-size: 24px;
  line-height: 117%;
  text-decoration: none;
  transition: text-decoration 1s ease;
}

.header__lang-link:hover {
  text-decoration: underline;
  transition: text-decoration 1s ease;
}


@media (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}
