.header__menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
  flex-wrap: no-wrap;
  /* list-style: none;
  padding: 0; */
}

@media (max-width: 320px) {
  .header__menu {
    align-items: center;
  }
}
