.cover {
  margin: 0 auto;
  margin-top: 92px;
  width: 100vw;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 0 48px;
  /* max-height: 740px; */
}

@media (max-width: 1024px) {
  .cover {
    padding: 0;
    /* max-height: 640px; */
  }
}

@media (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin-top: 62px;
  }
}
